SlotSense_GROUP_7/nodered_slotsense_flow.json
[
  {
    "id": "slotsense-tab",
    "type": "tab",
    "label": "SlotSense MQTT to InfluxDB",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt-broker-local",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-slotsense",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "mqtt-slot-status",
    "type": "mqtt in",
    "z": "slotsense-tab",
    "name": "Slot status",
    "topic": "slotsense/slot/+/status",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["slot-to-influx"]]
  },
  {
    "id": "mqtt-gate-status",
    "type": "mqtt in",
    "z": "slotsense-tab",
    "name": "Gate status",
    "topic": "slotsense/gate/status",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 220,
    "wires": [["gate-to-influx"]]
  },
  {
    "id": "slot-to-influx",
    "type": "function",
    "z": "slotsense-tab",
    "name": "Format slot point",
    "func": "const p = msg.payload;\nmsg.measurement = 'parking_slot';\nmsg.payload = [{\n    slot_id: p.slot_id || 'A1',\n    state: p.state,\n    occupied: !!p.occupied,\n    space_available: !!p.space_available,\n    led_blinking: !!p.led_blinking,\n    distance_cm: Number(p.distance_cm || 0)\n}];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [["debug-slot"]]
  },
  {
    "id": "gate-to-influx",
    "type": "function",
    "z": "slotsense-tab",
    "name": "Format gate point",
    "func": "const p = msg.payload;\nmsg.measurement = 'parking_gate';\nmsg.payload = [{\n    state: p.state,\n    reason: p.reason,\n    car_detected: !!p.car_detected,\n    servo_angle: Number(p.servo_angle || 0)\n}];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 220,
    "wires": [["debug-gate"]]
  },
  {
    "id": "debug-slot",
    "type": "debug",
    "z": "slotsense-tab",
    "name": "Slot point",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 590,
    "y": 120,
    "wires": []
  },
  {
    "id": "debug-gate",
    "type": "debug",
    "z": "slotsense-tab",
    "name": "Gate point",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 590,
    "y": 220,
    "wires": []
  }
]
